<IfModule mod_rewrite.c>
  RewriteEngine On

  # Evitar que las llamadas a la API sean redirigidas a React
  RewriteCond %{REQUEST_URI} !^/backend/

  # Si el archivo o directorio existe, sirvelo
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Todo lo demás envíalo a index.html para que React Router haga su magia
  RewriteRule ^ index.html [QSA,L]
</IfModule>
